<div>
  <div>
    <h1>
       All your likes
    </h1>
  </div>
</div>

<hr>
<div class="card-deck">
 <% @list_of_likes.where({ user_id: @current_user.id }).each do |a_like| %>
    <div class="card mb-4 photo-card">
      <img class="card-img-top" src="<%= a_like.photo.image %>" alt="Generated Image" >
      <div class="card-body">
        <h2 class="card-title"><%= a_like.photo.fan_art.topic %></h2>
          <p class="card-text">By <%= a_like.user.username %></p>
          <p class="card-text"><%= Message.where({ fan_art_id: a_like.photo.fan_art_id }).at(0).content %></p>
      </div>
      <div class="card-footer">
        <a href="/delete_like/<%= a_like.id %>" class="btn btn-outline-info w-100">Unlike</a>

        <p Liked <%= time_ago_in_words(a_like.created_at) %> ago</p>
      </div>
    </div>
  <% end %>
</div>
<hr>
