<div class="jumbotron">
  <h1 class="display-4"> <%= @the_fan_art.topic.upcase %></h1>
  <p class="lead">
  <% Message.where({ :fan_art_id => @the_fan_art.id }).order(:created_at).each do |message| %>
    <h2>
      <%= simple_format(message.content_formatted) %>
    </h2>  
  </p>

  <hr class="my-4">
  <p>
    <h3>
      Ready for your picture?
    </h3>
  </p>
    <% if Photo.where({ owner_id: @current_user.id }).where({ fan_art_id: @the_fan_art.id }).first != nil %>
  <p>
    <h4>
      You already have a picture for this idea whould you like another one?
    </h4>
  </p>
    <% end %>
  <p class="lead">
   <form action="/insert_photo" method="post">
      <div>
        <input type="hidden" name="query_fan_art_id" value="<%= @the_fan_art.id %>">
      </div>

      <div>
        <input type="hidden" name="query_owner_id" value="<%= @current_user.id %>">
      </div>

      <div>
        <input type="hidden" name="query_prompt" value="<%= simple_format(message.content_formatted) %>">
      </div>
      
    <% end %>
      <button class="btn btn-primary btn-lg" role="button">
        Generate Photo
      </button>
  </p>
    </form>
</div>
