<div class="jumbotron" style="background-color: #CBC3E3; opacity: 90%; border-radius: 20%;">
  <h1 class="display-4" style="font-family: 'Mogra', cursive; text-shadow:  rgb(200, 174, 243);"> <%= @the_fan_art.topic.upcase %></h1>
  <p class="lead" style="color: white;">
  <% Message.where({ :fan_art_id => @the_fan_art.id }).order(:created_at).each do |message| %>
    <h2 style="font-family: 'Mogra', cursive; text-shadow:  rgb(200, 174, 243);">
      <%= simple_format(message.content_formatted) %>
    </h2>  
  </p>

  <hr class="my-4">
  <p>
    <h3 style="font-family: 'Mogra', cursive; text-shadow:  rgb(200, 174, 243);">
      Ready for your picture?
    </h3>
  </p>
    <% if Photo.where({ owner_id: @current_user.id }).where({ fan_art_id: @the_fan_art.id }).first != nil %>
  <p>
    <h4 style="font-family: 'Mogra', cursive;" text-shadow:  rgb(200, 174, 243);>
      You already have a picture for this idea whould you like another one?
    </h4>
  </p>
    <% end %>
  <p class="lead">
   <form action="/insert_photo" method="post">
      <div>
        <input type="hidden" name="query_fan_art_id" value="<%= @the_fan_art.id %>">
      </div>

      <div>
        <input type="hidden" name="query_owner_id" value="<%= @current_user.id %>">
      </div>

      <div>
        <input type="hidden" name="query_prompt" value="<%= simple_format(message.content_formatted) %>">
      </div>
      
    <% end %>
      <button id="generator" class="btn btn-info btn-lg" role="button" onclick="f()">
        Generate Photo
      </button>
  </p>
    </form>
</div>

<script>
  function f() {
    var s= '<div class="btn btn-lg btn-info">\
  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>\
  Generating...</div>';
    console.log(s);
    document.getElementById("generator").innerHTML = s;
  }
</script>
