<div>
  <div>
    <h1>
      <%= Message.where({ fan_art_id: @the_photo.fan_art_id }).first.content %>
    </h1>

    <div>
      <div>
        <a href="/photos">
          Go back
        </a>
      </div>
      <% if @current_user.id == @the_photo.owner_id %>
      <div>
        <a href="/delete_photo/<%= @the_photo.id %>">
          Delete photo
        </a>
      </div>
      <% else %>
      <% end %>
    </div>

    <% if Like.where({ user_id: @current_user.id }).first == nil %>
    <div>
      <form action="/insert_like" method="post">
        <div>
          <input type="hidden" name="query_photo_id" value="<%= @the_photo.id %>">
        </div>

        <div>
          <input type="hidden" name="query_user_id" value="<%= @current_user.id %>">
        </div>

        <button>
          Like
        </button>
      </form>
    </div>
    <% else %>
    <div>
      <a href="/delete_like/<%= Like.where({ user_id: @current_user.id }).first.id %>">
        Delete like
      </a>
    </div>
    <% end %>
    
    <dl>
      <dt>
        Fan art topic
      </dt>
      <dd>
        <%= @the_photo.fan_art.topic %>
      </dd>

      <dt>
        Image
      </dt>
      <dd>
        <img src="<%= @the_photo.image %>">
      </dd>

      <dt>
        Owner
      </dt>
      <dd>
        <%= @the_photo.owner.username %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_photo.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_photo.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>
