<div>
  <div>
    <div class="button_spacing">
      <div class="photo-button">
        <div class="back-button">
          <button type="button" class="btn btn-primary btn">
            <a href="/photos">
              Go back
            </a>
          </button>
        </div>
        <% if @current_user.id == @the_photo.owner_id %>
        <div class="delete-button">
          <button type="button" class="btn btn-danger btn">
            <a href="/delete_photo/<%= @the_photo.id %>">
              Delete photo
            </a>
          </button>
        </div>
        <% else %>
        <% end %>
      </div>

      <% if Like.where({ user_id: @current_user.id }).first == nil %>
      <div class="like_box">
        <form action="/insert_like" method="post">
          <div>
            <input type="hidden" name="query_photo_id" value="<%= @the_photo.id %>">
          </div>

          <div>
            <input type="hidden" name="query_user_id" value="<%= @current_user.id %>">
          </div>

          <button class="like">
            <i class="fa-regular fa-heart fa-beat fa-2xl" style="color: #ff0000;"></i>
          </button>
        </form>
      </div>
      <% else %>
      <div>
        <a href="/delete_like/<%= Like.where({ user_id: @current_user.id }).first.id %>">
          <i class="fa-solid fa-heart fa-2xl" style="color: #ff0000;"></i>
        </a>
      </div>
      <% end %>
    </div>
    
  <div class="card">
    <div class="card-body" style="background-color: rgb(200, 174, 243);">
    <h3 class="card-title" style="font-size: 40px; font-family: 'Mogra', cursive;"> <%= @the_photo.fan_art.topic.capitalize %> </h3>
      <p class="card-text" style="font-size: 30px; font-family: 'Mogra', cursive;"> <%= Message.where({ fan_art_id: @the_photo.fan_art_id }).first.content %></p>
      <p class="card-text"><small class="text-body-secondary" style="font-size: 20px; font-family: 'Mogra', cursive;"> <%= @the_photo.owner.username.capitalize %>'s image</small></p>
    </div>
    <img src="<%= @the_photo.image %>" class="card-img-bottom" alt="generated_image">
  </div>
<hr>
