<div>
  <div>
    <div class="photo-button">
      <div class="back-button">
        <button type="button" class="btn btn-primary btn">
          <a href="/photos">
            Go back
          </a>
        </button>
      </div>
      <% if @current_user.id == @the_photo.owner_id %>
      <div class="delete-button">
        <button type="button" class="btn btn-danger btn">
          <a href="/delete_photo/<%= @the_photo.id %>">
            Delete photo
          </a>
        </button>
      </div>
      <% else %>
      <% end %>
    </div>

    <% if Like.where({ user_id: @current_user.id }).first == nil %>
    <div>
      <form action="/insert_like" method="post">
        <div>
          <input type="hidden" name="query_photo_id" value="<%= @the_photo.id %>">
        </div>

        <div>
          <input type="hidden" name="query_user_id" value="<%= @current_user.id %>">
        </div>

        <button>
          Like
        </button>
      </form>
    </div>
    <% else %>
    <div>
      <a href="/delete_like/<%= Like.where({ user_id: @current_user.id }).first.id %>">
        Delete like
      </a>
    </div>
    <% end %>
    
  <div class="card">
    <div class="card-body" style="background-image: linear-gradient(to bottom right, purple, rgba(0, 0, 255, 0.519));">
    <h5 class="card-title"> <%= @the_photo.fan_art.topic.capitalize %> </h5>
      <p class="card-text"> <%= Message.where({ fan_art_id: @the_photo.fan_art_id }).first.content %></p>
      <p class="card-text"><small class="text-body-secondary"> <%= @the_photo.owner.username.capitalize %>'s image</small></p>
    </div>
    <img src="<%= @the_photo.image %>" class="card-img-bottom" alt="generated_image">
  </div>
<hr>
